/* Jon Doltar
 * 2016-01
 * ESP-DLUX Base Station
 */

'use strict';

var _private = {};
var _public = {};

// node will run the HTTP server on this port
_public.httpPort = 2999;
_public.browserSyncProxyUrl = 'http://localhost:' + _public.httpPort;

module.exports = _public;
